<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Word Game</h3>
    <p>word = {{words}}</p>
    <a href="{% url 'input' %}">Play Again</a>
</body>
</html>