<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/enter.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'output' %}" method="post">
    {% csrf_token %}
        <label for="first"> number of letters</label>
        <input type="text" id= "first" name="number_length" value={{request.session.count_of_letters}}>
        <label for="second"> word should contain which letter:</label>
        <input type="text" id= "second" name="wanted_letter" value={{request.session.letters_needed}}>
        <label for="third"> word should not contain which letter:</label>
        <input type="text" id= "third" name="unwanted_letter" value={{request.session.letter_dont_needed}}>
        <input type="submit" value = Generate>
    </form>
    <a href="{% url 'reset_' %}">reset</a>
</body>
</html>