<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Quiz Game</h3>
    <p>question: {{question}}</p>
    <p>you answer: {{your_answer}}</p>
    <p>Actual Answer: {{act_answer}}</p>
    <p>Result: {{result}}</p>
    <a href="{% url 'show_question' %}">Play Again</a>

</body>
</html>