<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somasekhar</title>
</head>
<body>
    <h3>Quiz</h3>
    <p>{{question}}</p>
    <form action="{% url 'process_quiz_form' %}" method="post">
        {% csrf_token %}

        <label for="sss">Enter your Answer:&nbsp;</label>
        <input type="text" id="sss" name="user_answer">
        <input type="submit" value="Play!">
    </form>
</body>
</html>