<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>SCORE CARD</h2>
        <h2>team: {{teams.country_name}}</h2>
        <p>score : {{score.total_runs}} - {{score.total_wickets}}</p>
        <h3>overs: {{score.total_overs}}</h3>
    <form action="{% url 'change_scoreboard' teams.id %}" method="post">
        {% csrf_token %}
        <input type="submit" name="4" value="4">
        <input type="submit" name="w" value="WICKET">
        <input type="submit" name="6" value="6">
        <input type="submit" name="1" value="1">
        <input type="submit" name="reset" value="reset">
    </form>
</body>
</html>