{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
    <title>Document</title>
</head>
<body>

    <img src="{% static 'images/signature.jpg' %}" alt="no image found">

</body>
</html>