<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Adding Employee</h3> 
    <form action="{% url 'add_employee' %}" method = "post">
        {% csrf_token %}
        <label for="name"> enter name : &nbsp;</label>
        <input type="text" id="name" name="name">
        <label for="eid"> enter emp_id : &nbsp;</label>
        <input type="text" id="eid" name="eid">
        <label for="salary"> enter salary : &nbsp;</label>
        <input type="text" id="salary" name="salary">
        <input type="submit" value="add">
    </form>
</body>
</html>