<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'modify_employee_attendance' emp.employee.id emp.id %}" method="post">
        {% csrf_token %}
        <label for="date">select new date:</label>
        <input type="date" name="date" id="date" value="{{emp.date}}">
        <label for="attendance">attendance :</label>
        <input type="text" name="attendance" id="attendance" value="{{emp.attendance}}">
        <input type="submit" value="submit">
    </form>

    <a href="{% url 'employee_details' emp.employee.id %}">BACK</a>
    
</body>
</html>