<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        height: 3ex;
      }
    </style>
</head>
<body>
    <h3>Employee details</h3>
    {% if editing %}
        <form action="{% url 'modify_employee' employee.id %}" method="post">
            {% csrf_token %}

                <label for="name">New Employee name :</label>
                <input type="text" id="name" name="e_name" value="{{employee.e_name}}">

                <label for="eid">New Employee id :</label>
                <input type="text" id="eid" name="eid" value="{{employee.e_id}}" >

                <label for="salary">New Employee salary :</label>
                <input type="text" id="salary" name="salary"value="{{employee.salary}}">

                <input type="submit" value="update">



        </form>
    {% else %}
        <p>Employee name = {{employee_.e_name}}</p>
        <p>employee id = {{employee_.e_id}}</p>
        <p>salary = {{employee_.salary}}</p>
        <table>
            <tr>
                <th>Date :</th>
                <th>Attendance :</th>
            </tr>
            {% for attendance in emp_attendance %}
            <tr>
                <td>{{attendance.date}}</td>
                <td>{{attendance.attendance}}</td>
                <td><a href="{% url 'modify_employee_attendance' employee_.id attendance.id %}">EDIT</a></td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{% url 'add_employee_details' employee_.id %}" method="post">
                    {% csrf_token %}
                    <td><input type="date" name="date"></td>
                    <td><input type="text" name="attendance"></td>
                    <td><input type="submit" value="add"></td>

                </form>
            </tr>
        </table>
        <a href="{%url 'modify_employee' employee_.id %}">update Employee</a><br>
        <a href="{% url 'delete_employee' employee_.id %}">Delete employee</a>
    {% endif %}

    
    <br><a href="{% url 'employee_list' %}">employee list </a>
</body>
</html>