<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
        <ul>
        {% for employee_ in employee %}
            <li>{{employee_}}</li><a href="{% url 'employee_details' employee_.id %}">show details</a>
        {% endfor %}
        </ul>
    <a href="{% url 'add_employee' %}">add employee </a>

</body>
</html>