<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'somu' %}" method="post">
        {% csrf_token %}
        <input type="date" name="date">
        <input type="submit" value="submit">

    </form>
</body>
</html>