<!doctype html>
    <html>
        <body>
            <h3>Rock-Paper-Scissors</h3>
            <p>You Chose {{user}}</p>
            <p>Computer chose {{computer}}</p>
            <p>Winner: {{outcome}}</p>
            <a href="{% url 'show_rps_form' %}">Play Again</a>
        </body>
    </html>